@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: "arcadeClassic";
  src: url("../resources/fonts/ARCADECLASSIC.TTF") format("trueType")
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  font-family: "Press Start 2P", Arial;
}

body {
  display: grid;
  place-items: center;
  height: 70vh;
  background-color: white;
  /* align-items: center; */
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
  text-align: center;
}

#board {
  border-radius: 30px;
  height: 65vh;
}

#game-status {
  font-size: 40px;
  display: flex;
  width: 70vh;
  justify-content: space-between;

}

#reset-button {
  font-size: 35px;
  width: 20em;
  border-radius: 30px;
  padding: 30px 30px;
  margin-top: 10px;
  background-color: gold;
  cursor: pointer;
}

#reset-button:hover {
  font-size: 45px;
  border: 1px solid rgba(0.0.0.0.5);
}

.instructions {
  font-size: 18px;
  text-align: center;

}

.text-gradient {
  font-weight: bold;
  text-align: center;
  
  color: #4b3f97;
  background-image: radial-gradient(closest-side, #4b3f97 32%, #6a5db1 85%, #e76fab 99%);
  
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


