* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);  
  width: 800px;
  height: 800px;
  gap: 1px; /**/
  background-color: black; 
}

.cell {
  background-color: rgba(238, 227, 67, 0.884);
  /* aspect-ratio: 1 / 4; */
}

.snake {
  background-color: rgba(0, 255, 8, 0.627);
  aspect-ratio: 1 / 1;
}

.food {
  background-color: yellow;
  border-radius: 50%;
}