@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: "arcadeClassic";
  src: url("../resources/fonts/ARCADECLASSIC.TTF") format("trueType")
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  font-family: "Press Start 2P", Arial;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  /* align-items: center; */
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
  text-align: center;
}

#board {
  border-radius: 30px;
}

#game-status {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;;
  font-size: 40px;
}

#reset-button {
  font-size: 35px;
  width: 20em;
  border-radius: 30px;
  padding: 15px 30px;
  background-color: gold;
  cursor: pointer;
}

#reset-button:hover {
  font-size: 45px;
  border: 1px solid rgba(0.0.0.0.5);

}

